{ "dispatcher": "SimpleDispatcher",
  "listenIP": "0.0.0.0",
  "port": 9998,

  "persister": {
      "driver": "mysql",
      "host": "127.0.0.1",
      "port": 3306,
      "user": "docker",
      "password": "docker",
      "database": "dockerbroker"
  },

  "services": {
      "user": "admin",
      "password": "admin",
      "catalog": "My Docker Catalog",
      "images": [
          { "name": "mysqlstatic",
            "plan": "100",
            "dashboardurl": {
              "dashboard_url":"mysql://user1:pwd1@$HOST:$PORT_3306/mysqlDB"
            },
            "credentials": {
              "database":"mysqlDB",
              "url":"mysql://user1:pwd1@$HOST:$PORT_3306/mysqlDB",
              "uri":"mysql://user1:pwd1@$HOST:$PORT/mysqlDB",
              "host":"$HOST",
              "port":"$PORT_3306",
              "user":"user1",
              "username":"user1",
              "password":"pwd1"
            },
            "numinstances": 1 
          },
          { "name": "mysql",
            "plan": "100",
            "numinstances": 1 }
       ]
  }
}

